body {
  background-color: skyblue;
  text-align: center;
}

.wrapper{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.circle {
  border-radius: 100%;
  background-color: salmon;
  height: 100px;
  aspect-ratio: 1;
  color: white;
  display: grid;
  place-items: center;
  margin: 60px auto;
  cursor: pointer;
  transition: background 1s, transform 1s 1s ease-in;
}

.circle:hover {
  background-color: pink;
  transform: rotate(360deg);
}